body {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eee;
  justify-items: center;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

h2 {
  text-align: center;
}

.heart-circle {
  padding: 18px 14px 10px 14px;
  border: 4px solid #bbb;
  border-radius: 50%;
}

.heart {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("./heart-outline.svg");
  background-repeat: no-repeat;
}

.heart::after {
  content: url("./heart-fill.svg");
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.heart:hover::after {
  animation: drop-in .8s ease-in;
}

@keyframes drop-in {
  from {
    top: 90%;
    left: 50%;
    transform: translateX(-50%) scale(0.4);
    opacity: 1;
  }

  40% {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 1;
  }

  80% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
